.scrollable-sidebar {
  display: flex;
  position: relative;
}

.scrollable-sidebar .scrollable-sidebar-container {
  width: 100%;
}

.scrollable-sidebar .scrollable-sidebar-container .scrollable-sidebar-inner {
  align-self: flex-start;
  position: relative;
  top: 0;
  width: 100%;
}

.scrollable-sidebar .scrollable-sidebar-container .scrollable-sidebar-inner.is-sticky {
  position: sticky !important;
}

.scrollable-sidebar .scrollable-sidebar-container .scrollable-sidebar-inner.is-fixed {
  position: fixed !important;
  width: auto;
}

.scrollable-sidebar .scrollable-sidebar-container .scrollable-sidebar-inner.is-fixed.top-scroll {
  top: 0;
  bottom: unset !important;
}

.scrollable-sidebar .scrollable-sidebar-container .scrollable-sidebar-inner.is-fixed.bottom-scroll {
  bottom: 0 !important;
  top: unset !important;
}